<div class="flex justify-between px-8 mb-10">
  <div class="flex flex-col items-start px-40">
    <div class="flex flex-col items-baseline">
      <label class="bg-gray-700 block rounded-lg mb-4 px-3 py-1">Figuras</label>
      <span class="px-2 py-1 border rounded mb-2">△</span>
      <span class="px-2 py-1 border rounded mb-2">✩</span>
      <span class="px-2 py-1 border rounded mb-2">○</span>
      <span class="px-2 py-1 border rounded mb-2">✕</span>
    </div>
    <div class="flex flex-col items-baseline py-8">
      <label class="bg-gray-700 block rounded-lg mb-4 px-3 py-1">Colores</label>
      <span class="px-2 py-1 border rounded mb-2">cyan</span>
      <span class="px-2 py-1 border rounded mb-2">fuchsia</span>
      <span class="px-2 py-1 border rounded mb-2">azul</span>
      <span class="px-2 py-1 border rounded mb-2">amarillo</span>
    </div>
  </div>

  <div class="flex flex-col items-end mr-40">
    <div class="flex flex-col items-end">
      <label class="bg-gray-700 block rounded-lg mb-4 px-3 py-1">Lienzo</label>
      <div class="grid grid-cols-3 gap-2">
        <div *ngFor="let fila of matriz; let i = index">
          <div *ngFor="let celda of fila; let j = index" class="w-36 h-36 border rounded mb-2">
            <!-- Aquí puedes mostrar el contenido de la celda matriz[i][j] -->
          </div>
        </div>
      </div>
      <button class="md:bg-purple-700 hover:dark:bg-gray-900 hover.cursor-pointer text-white px-4 py-2 rounded-lg mt-4">
        Imprimir
      </button>
    </div>
  </div>
</div>